<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THIS IS ABOUT PAGE</h1>
    <hr>

    <div >

        <section>

            <h1>User Loged in</h1>
            <h2>Dynamic content</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate saepe aliquam fugiat sint quasi laudantium iure, odio atque illo id vel! Praesentium placeat delectus quaerat, fuga debitis labore deleniti corporis!</p>
            <button>CLICK ON DYNAMIC CONTENT</button>

        </section>

    </div>
</body>
</html>