<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>
        About Page
    </title>
</head>
<body>


    <div id="content">
         <h1>Welcome to about page</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, sint excepturi perferendis laudantium dolore animi, harum placeat ullam eius laboriosam sit, libero corporis dolorum labore ipsum autem. Qui, voluptates ex!</p>


    </div>

    <script>
           console.log(" AboutPage");
    </script>
</body>
</html>