<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to home page1</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding:30px;
            background: #e2e2e2; 

        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates molestiae odio fuga autem vitae, ab ut unde ipsa eos dolor fugit nam eligendi officiis, minima illo maxime officia voluptatibus quis hic minus facere nobis natus libero illum? Magni nam distinctio explicabo repellendus cupiditate suscipit, alias odio est quisquam iste ducimus.</p>

    </div>
    
</body>
</html>