<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>
        Service Page 
    </title>
</head>
<body>
    <div id="content">
        <h1>Welcome to service page</h1>
        <h2>Hi</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto laboriosam sunt quibusdam consequatur, accusamus dolore, suscipit nesciunt et aliquid nisi harum impedit iste voluptate doloribus unde in quas quam debitis?</p>

    </div>
    <script>
        console.log(" ServicePage");
       
    </script>
</body>
</html>